/* ? pop-up */
:root {
    --popup-color-accent: #e237d6;
    --popup-color-accent-hover: #ff27f0;
}
p {
    line-height: inherit;
}
body {
    line-height: inherit;
}

/* ? ============================================  freemodal */
.fewmodal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.fewmodal__content {
    background: transparent;
    width: 100%;
    margin: auto;
}

.fewmodal__body {
    overflow-y: inherit;
    display: none;
    align-items: center;
}

.popup {
    border-radius: 0px;
    border: 1px solid var(--popup-color-accent);
    background: #060306;
    padding: 40px;

    position: relative;
    box-sizing: border-box;
    text-align: center;
    color: #8b8b8b;
    width: 550px;
}
.popup > * {
    box-sizing: border-box;
}

.popup__title {
    font-size: 38px;
    margin-bottom: 26px;
    line-height: 40px;
}
.popup__accent {
    text-shadow: none;
    background: none;
    padding: 0;
}
.popup__accent {
    color: #fbae01;
    font-weight: bold;
    display: block;
    position: relative;
    line-height: 1.25;
}
.popup__accent:after {
    display: none;
    background: none;
}

.popup__title {
    margin: 0;
    margin-bottom: 40px;
    color: var(--popup-color-accent);
}
.win_text {
    color: #fff;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 50px;

    font-size: 27px;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.popup .popup__win-btn {
    background: var(--popup-color-accent);
    color: #fff;
    border-radius: 0;
    font-size: 26px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    text-decoration: none;
    cursor: pointer;
}

.popup .popup__win-btn:hover {
    background: var(--popup-color-accent-hover);
    color: #fff;
    border-radius: 0;
}
/* ? popaup-2 */
.sec_popup_prizes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.sec_popup_prizes-1,
.sec_popup_prizes-2,
.sec_popup_prizes-3 {
    width: 100%;
    font-size: 26px;
    padding: 0px;
    margin: 0px;
    color: #fff;
}
#level-2 .win_text {
    margin-bottom: 0px;
}

.bonus-info {
    position: absolute;
    top: 40%;
    right: -210px;
    max-width: 200px;
    padding: 0 10px;
    border: 1px solid rgb(139, 139, 139);

    background: #060306;

    visibility: visible;
    opacity: 1;
    transition: max-height 0.5s ease, visibility 1s ease, opacity 1s ease;
    margin: 0 auto;
}
.bonus-info.hidden {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    border: none;
}

.bonus-info__icon {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    background: #fff;
    border-radius: 50%;
}
.bonus-info__icon svg path {
    fill: rgb(139, 139, 139);
}

.bonus-info__text {
    text-align: left;
    font-size: 0.875rem;
    line-height: inherit;
    font-weight: 400;
    margin: 1rem 0;
}

.promocode {
    color: #fff;
    border: 1px solid var(--popup-color-accent);
    font-size: 16px;
    padding: 16px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.regBtn.regBtn {
    margin-top: 0px;
}
.bonus-info__btn {
    outline: none;
    border: none;
    background: none;
    font-size: 16px;
    color: inherit;
    /* cursor: pointer; */
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    margin-top: 40px;

    transition: 0.3s linear;
}

.bonus-info__btn-text {
    display: block;
}
.svg-arrow {
    width: 20px;
}
.svg-arrow path {
    fill: rgb(139, 139, 139);
}

@media (max-width: 1400px) {
    .popup {
        padding-left: calc(20px + 20 * ((100vw - 320px) / 1080));
        padding-right: calc(20px + 20 * ((100vw - 320px) / 1080));
    }
    .win_text {
        font-size: calc(20px + 7 * ((100vw - 320px) / 1080));
    }
    .popup__title {
        font-size: calc(28px + 10 * ((100vw - 320px) / 1080));
    }
}
@media (max-width: 1200px) {
    .popup {
        max-width: 400px;
        max-width: calc(300px + 100 * ((100vw - 320px) / 1080));
    }
}
@media (max-width: 767px) {
    .fewmodal__body {
        width: 100%;
        max-width: 400px;
    }
    .popup {
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
    }
    .popup__title {
        margin-bottom: 40px;
        line-height: 30px;
    }
    .bonus-info {
        position: static;
        max-width: 100%;
        max-height: 120px;
        border: none;
    }
    .bonus-info__icon {
        display: none;
    }
}

/* ? wheel ========================================================== */
.page__bg {
    display: none;
}
.page {
    /* background: url('../images/wheel/decor_grass.jpg') center -20px no-repeat, #000; */
    color: #fff;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: cover;
    padding-bottom: 30px;
}
.page__wrap {
    position: relative;
    margin: auto;
    max-width: 1085px;
    min-height: 800px;
}
.pyszneLogo {
    width: 90px;
    height: 90px;
    vertical-align: middle;
    margin-left: 35px;
    margin-bottom: 10px;
}
.spin-text {
    /* text-align: center; */
    /* position: relative; */
    /* z-index: 3; */
    /* font-size: 1.75rem; */
    /* margin: 0; */
    /* margin-bottom: 20px; */
    /* line-height: 2.2rem; */
    /* color: white; */
    /* font-weight: bold; */
    /* font-family: Roboto, sans-serif; */
    font-size: 31px;
    letter-spacing: -2px;
    /* text-align: center; */
    /* width: 100%; */
    position: relative;
    margin-bottom: 14px;
    line-height: 41px;
    box-sizing: border-box;
    text-transform: capitalize;
    font-weight: 500;
}

.game-layout {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto 10px auto;
}

.game-person {
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.gonzo {
    left: 35px;
}
.jack {
    right: 0;
    bottom: 50px;
}
.wheel {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    top: 0;
    margin-bottom: 100px;
    height: 551px;
    overflow: visible;
}
.wheel:after {
    content: '';
    position: absolute;
    background-size: contain;
}
.wheel_animated:after {
    animation: 2s spinner ease-in-out infinite;
}
.wheel__spinner-holder {
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    top: 0;
    position: relative;
}
.wheel__spinner {
    width: 100%;
    vertical-align: top;
    position: relative;
    z-index: 3;
    transition: all 0s;
}

@keyframes spinner {
    0% {
        transform: rotate(-53deg);
    }
    50% {
        transform: rotate(-46deg);
    }
    100% {
        transform: rotate(-53deg);
    }
}

.wheel__spinner {
    width: 100%;
    vertical-align: top;
    position: relative;
    z-index: 3;
}
.wheel__mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 460px;
    height: 460px;
}
.wheel__button-holder {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    width: 180px;
    height: 190px;
}
.wheel__button-pointer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    -webkit-tap-highlight-color: transparent;
}
.wheel__button {
    position: relative;
    z-index: 3;
}
.circle-button {
    display: block;
    width: 125px;
    height: 125px;
    line-height: 132px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background: url(../images/wheel/btns.png) -3px -9px no-repeat;
    -webkit-tap-highlight-color: transparent;
    transition: all 0s;
}

.circle-button:hover {
    background-position-x: -145px;
}

.circle-button:active {
    background-position-x: -287px;
}
.wheel__button-pointer:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    top: 17px;
    left: 9px;
    margin: auto;
    bottom: 0;
    background: url(../images/wheel/pointer.png) 4px 20px no-repeat;
    z-index: 2;
    background-size: contain;
}
.wheel__win-frame {
    position: absolute;
    left: 0;
    right: 0;
    top: 47px;
    z-index: 1;
    margin: auto;
    width: 243px;
    height: 331px;
}

/* ? media wheel */
img {
    display: block;
    max-width: 100%;
    height: auto;
}
@media (max-width: 1200px) {
    .game-layout {
        margin: 80px auto 50px auto;
    }
}
@media (max-width: 767px) {
    .page__wrap {
        min-height: 50%;
        max-width: 100%;
    }
    .game-person {
        display: none;
    }
    .wheel {
        margin-bottom: 0;
        height: 365px;
        top: -60px;
    }
    .wheel__spinner {
        height: auto;
        max-width: 100%;
    }
    .wheel__button-holder {
        width: 115px;
        height: 115px;
        transform: scale(0.8);
    }
    .circle-button {
        font-size: 20px;
        transform: scale(0.65);
        background-position: -6px -10px;
        line-height: 132px;
    }
    .wheel__button-pointer:after {
        background-position: 0px 6px;
    }
    .wheel__win-frame {
        display: none;
    }
}
@media (max-width: 527px) {
    .spin {
        margin: 2.3rem 30px 85px 10px;
    }
    .pyszneLogo {
        margin-left: 50%;
    }
}
@media (max-width: 500px) {
    .wheel__spinner {
        max-width: 140%;
        width: 140%;
        left: -20%;
    }
}
